{% extends 'base.html.twig' %}
{% block title %}Sign in!{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s12">
            <p class="flow-text center">Do you need new account ? <a href="{{ path('user_register') }}">Sign up</a></p>
        </div>
        <form class="col s12" action="{{ path('login') }}" method="post">
            {% if error %}
                <div class="red-text valign-wrapper">
                    <i class="material-icons">error</i>
                    <span class="valign">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}

            <div class="input-field col s12">
                <i class="large material-icons prefix">account_circle</i>
                <input class="validate" type="text" id="username" name="_username" value="{{ last_email }}"
                       required="required" autocomplete="username"/>
                <label for="username">Username</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input class="validate" type="password" id="password" name="_password" required="required"
                       autocomplete="current-password"/>
                <label for="password">Password</label>
            </div>

            <input class="btn-large" type="submit" id="_submit" name="_submit"
                   value="sign in"/>
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Materialize Select</label>
            </div>
        </form>
        <a href="{{ path('app_github_connect') }}" class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>Sign in via github</a>
    </div>
{% endblock %}