{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.country, {'id': 'countries'}) }}
    {{ form_row(form.region, {'id': 'regions'}) }}
    {{ form_row(form.city, {'id': 'cities'}) }}
    <button class="btn btn-large waves-effect waves-light" type="submit">Next step
        <i class="material-icons right">navigate_next</i>
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/init-select.js') }}"></script>
    <script src="{{ asset('build/location.js') }}"></script>
{% endblock %}