{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
    {% for passion in form.passions %}
        <div class="col s12 l6">
            <div class="row valign-wrapper">
                {{ form_widget(passion) }}
            </div>
        </div>
    {% endfor %}
    </div>
    <button class="btn btn-large waves-effect waves-light" type="submit">Sign up
        <i class="material-icons right">person_add</i>
    </button>
    {{ form_end(form) }}
{% endblock %}
