{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-large waves-effect waves-light" type="submit">Sign up
        <i class="material-icons right">person_add</i>
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}